{{- if .Values.auth.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  password: {{ .Values.auth.password }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: {{ .Values.namespace }}
data:
  REDIS_HOST: redis-master.{{ .Values.namespace }}.svc.cluster.local
  REDIS_PORT: "{{ .Values.service.master.port }}"
  REDIS_MASTER_HOST: redis-master.{{ .Values.namespace }}.svc.cluster.local
  REDIS_MASTER_PORT: "{{ .Values.service.master.port }}"
  REDIS_REPLICA_HOST: redis-replicas.{{ .Values.namespace }}.svc.cluster.local
  REDIS_REPLICA_PORT: "{{ .Values.service.replicas.port }}"
  REDIS_AUTH_ENABLED: "{{ .Values.auth.enabled }}"
